/********************************/
/* Responsive *******************/
/********************************/

@media screen and (min-width: 600px) {

	.text, #section2 .text {
		top: 50px;
	}

	.navbar-fixed-top ul {
		display: inline-block;
	}	
	.desktopOnly {
		display: block;
	}
	
	.navbar i#mobileOnly {
		display: none;
	}

	#menuToggle {
		display:none !important; 
	}

	#navbar-social-links{
		display: none;
	}

	.mobileLeftDesktopRight {
		text-align: right;
	}

	p {
		padding: 10px 100px 50px 100px;
	}

	.text {
		top: 0px;
	}

	.intro {
		padding: 0;
	}

	.intro p {
		padding: 0;
		max-width: 388px;
	}

	.picture img{
		max-width: 500px;
	}

	.fp-slides {
	    overflow: hidden;
	}

	#section0 {
		margin-top: 69px;
	}

	#section0 p {
		margin-top: 60px;
	}

	.mobileRemove {
		display: inline-block;
	}

	.picture {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#edgeAnimation {
		padding: 0 20px;
	}

	#section3.fp-section.fp-table {
		margin-top: 0px;
	}


}

@media screen and (min-width: 765px) { /*bootstrap breaks*/

	.sliderBalls{
		top: 0px;
	}

	#section0 {
		margin-top: 0px;
	}
	.picture img{
		max-width: 400px;
		float: right;
		margin-top: 0px;

	}

	.fp-controlArrow {
	    position: absolute;
	    z-index: 4;
	    top: -24px;
	    cursor: pointer;
	    border-style: solid;
	
	}

	.fp-controlArrow.fp-prev {
    	left: 25%;
	}
	.fp-controlArrow.fp-next {
	    right: 25%;
	}

	.menu{
		display: none;
	}

	#navbar-social-links{
		display: inline-block;
	}

	.responsiveMenu{
		width: 100%;
		right: 0;
		height: 50px;
		position: fixed;
		background-color: #383942;
		color: #daeafd;
		z-index: 1;
		display: inline-block;
	}

	.nav > li > a {
	  position: relative;
	  display: block;
	  color: white;
	  text-align: center;
	}

	.headerwrap#info h2 {
	font-size: 2em;
	}

	.headerwrap h2 {
	color: rgb(103, 95, 95);
	font-size: 2em;
	}

	footer {
		padding: 26px 30px 0 0;
		display: inline-block;
	}
	
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media screen and (min-width: 1200px) {
	.picture img{
		float: right;
		margin-top: 50px;
	}

	.text {
		top: 50px;
	}

	#section2 .text {
		top: 70px;
	}

	footer {
		height: 65px;
	}

}


